h1{
    text-align: center;
}

#info{
    text-align: center;
}

#tbl_id{
    border: 1px solid;
    text-align: left;
}

th{
    background-color: orange;
}

#tbl_id tr:hover {
    background-color: black;
}

.error {
    box-shadow: 0 0 5px #FF5252;
    border-color: #FF1744;
 }


